body {
    background: rgb(51, 51, 51); 
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: rgb(51, 51, 51);
    text-align: center;
    font-size: 40px;
    padding: 20px;  
}

.main {
    display: flex;
}

.main div {
    background: rgb(51, 51, 51);
    border: 4px white;
    flex: 1 1 0%;
    text-align: center;
}

.main .button {
    height: 200px;
    border: 2px solid aquamarine;
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    margin: 10px;
    flex: 0 0  200px;
    font-size: 20px;

}

.main .button p {
    line-height: 10; 
    display: inline-block;
    vertical-align: middle;
  }

.alert {
    text-align: center;
    color: white;
}
